



   body {
    font-family: 'Times New Roman', Times, serif ,Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    color: #0056b3;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #003d80;
  }
  
  .result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  